<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./frontend/partials/header'); %>
    <h1>Hi let's start</h1>
    <a href="/page1">lets new page</a>
    <%- include('./frontend/partials/footer'); %>
</body>
</html>